<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
    <link rel="icon" href="img/logo.png" alt="logotipo">
    
    <title>Ponto Digital</title>
</head>

<body class="flex-container">

    @RenderBody()

    <footer class="rodape">
        <p>© 2019 Ponto Digital, Inc.
            Terms
            Privacy
            Security
            Status
            Help</p>
    </footer>

</body>

</html>