@{
    Layout = "_Layout";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <link rel="stylesheet" href="~/css/comentario.css" type="text/css">
    <title>Comentário</title>
</head>

<body>
    <nav class="nav">
        <div id="logo">
            <img src="img/logo.png" alt="logotipo">
        </div>
        <ul>
            <li><a href='@Url.Action("Index", "Home")'>Voltar</a></li>
        </ul>
    </nav>

    <div class="linha_amr"></div>

    <section class="login">
        <h2>Comentário</h2>
        <div class="options">
            <form action="Comentario/Comentar" method="POST">
                <label for="comentario">Digite aqui seu comentário:</label>
                <textarea name="comentario" id="texto"></textarea>
            
                <input type="submit" value="Confirmar" id="botao">
            </form>
        </div>
    </section>
</body>