@{
    Layout = "_Layout";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <link rel="stylesheet" href="~/css/login.css" type="text/css">
    <title>Cadastro</title>
</head>

<body>
    <nav class="nav">
        <div id="logo">
            <img src="img/logo.png" alt="logotipo">
        </div>
        <ul>
            <li><a href='@Url.Action("Index", "Home")'>Voltar</a></li>
        </ul>
    </nav>

    <div class="linha_amr"></div>

    <section class="login" >
        <h2>Cadastro</h2>
        <div class="options">
            <form action="Cadastro/CadastrarUsuario" method="POST">
                <input type="text" name="nome" placeholder="Nome completo" id="nome" required>
                <input type="text" name="email" placeholder="E-mail" id="email" required>
                <input type="password" name="senha" id="senha" placeholder="Senha" required>
                <input type="date" name="data-nascimento" placeholder="data" id="data" required>
                
                <input type="submit" value="Confirmar" id="botao">
            </form>
        </div>
    </section>
</body>