@{
    Layout = "_Layout";
}

<nav class="nav">
    <div id="logo">
        <img src="img/logo.png" alt="logotipo">
    </div>
    <ul>
        <li><a href='@Url.Action("Usuarios", "Administrador")'>Lista de Usuários</a></li>
        <li><a href='@Url.Action("Comentarios", "Administrador")'>Lista de Comentários</a></li>
        <li><a href='@Url.Action("Index", "Administrador")'>Voltar</a></li>
        <li><a id="bt_logout" asp-controller="Login" asp-action="Logout">Logout</a></li>
    </ul>
</nav>

<div class="linha_amr"></div>  

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Senha</th>
            <th>Data de Nascimento</th>
        </tr>
    </thead>
</table>
